body{
    margin:0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 30px 500px;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.container div{
    margin: 0 auto;
    width: 60%;
}